.nav-color{
    background-color:#2C3333;
}
.nav-txt{
    color:#F4F9F4;
}
.navbar{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
.nav-link:hover{
    color:#395B64 !important;
}